---
import MainPage from "../layouts/MainPage.astro";
import BaseHead from "../layouts/components/BaseHead.astro";
import HeroSection from "../components/heroSection.astro";
import ProductSection from "../components/productSection.astro";
import ContactSection from "../components/contactSection.astro";
import ReviewSection from "../components/reviewSection.astro";
---

<html lang="tr">
  
  <BaseHead />


  <body class="bg-gray-50">
    <MainPage >
  <HeroSection/>
  <ProductSection/>
  <ReviewSection/>
  <ContactSection/>




	  
    </MainPage>
  </body>
</html>
