---
import { WORK_TIME } from "../consts/siteInfo";
import { BUSSINES_LINK, PHONE } from "../consts/siteInfo";



const date = new Date(new Date(Date.now()).getTime() + ((new Date(Date.now()).getTimezoneOffset()+360)*60000))

const time = {
  hour: date.getHours().toString().padStart(2, "0"),
  minute: date.getMinutes().toString().padStart(2, "0"),
  day: date.toLocaleString("tr-TR", { weekday: "long" }),
};
const isWork = (): boolean => {
  const nowHour = parseInt(time.hour);
  return (
    (nowHour >= WORK_TIME.openHour && nowHour <= 24) ||
    (nowHour >= 0 && nowHour <= WORK_TIME.closeHour) ||
    (nowHour >= WORK_TIME.openHour && nowHour <= WORK_TIME.closeHour)
  );
};
---

<section class="dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <span
      class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
      role="alert"
    >
      <span
        class:list={['text-xs rounded-full text-white px-4 py-1.5 mr-3', {'bg-green-600':isWork()}, {'bg-red-600':!isWork()}]}
      >
        {() => {return isWork() ? "Şuanda açık" : "Şuan kapalı" }}</span
      >
      <span class="text-sm font-medium">
        {time.day} {`${time.hour}:${time.minute}`}</span
      >
    </span>
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Gümüşhane Adıyörem Çiğköfte
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
      Gümüşhane’nin en lezzetli çiğ köftesi bir telefon kadar uzağınızda...
    </p>
    <div
      class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      <a
        rel="nofollow"
        target="_blank"
        href={"tel:" +
          PHONE.replaceAll(" ", "").replaceAll("(", "").replaceAll(")", "")}
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      >
        <img
          src="/phone.svg"
          width="24"
          height="24"
          alt="Telefon"
          title="Telefon"
        />
        Telefon ile sipariş ver
        <img
          alt="Arrow"
          title="Arrow"
          src="/arrow.svg"
          width="20"
          height="20"
          class="ml-2 -mr-1 w-5 h-5"
        />
      </a>
      <a
        href={BUSSINES_LINK}
        target="_blank"
        rel="nofollow"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center bg-white text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
      >
        <img
          title="Harita"
          alt="Harita"
          src="/map-icon.svg"
          width="36"
          height="36"
          class="mr-2 -ml-1"
        />
        Yerinde tat
      </a>
    </div>
  </div>
</section>
