---
import UserReviewCard from '../components/userReviewCard.astro';
import reviews from '../data/reviews.json'; 

---
	  <section class="px-4 mt-4 mx-auto text-center md:max-w-screen-md xl:max-w-screen-xl lg:px-36"  id="yorumlar" >
		<h2 class="font-semibold text-2xl uppercase py-10">Değerli Yorumlarınız</h2>
		<div class="">
			{reviews.sort((a,b) => b.review_text.length - a.review_text.length).map((review) => <UserReviewCard review={review}></UserReviewCard> )}
		</div>
	  </section>